@charset "UTF-8";

body{
	margin: auto;
	width: 500px;
	padding: 30px;
}


.join_title, .join_interest, .join_address, .join_city{
	font-size: 15px;
    font-weight: 700;
}

.ps_box, .ps_box_disable {
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 110px 10px 14px;
    background: #fff;
    box-sizing: border-box;
    vertical-align: top;
}

    

.ps_box.int_id, .ps_box.int_id input,
.ps_box.int_pass, .ps_box.int_pass input,
.ps_box.int_pass_check, .ps_box.int_pass_check input, 
.ps_box.box_right_space, .ps_box.box_right_space input,
.ps_box.box_bir_yymmdd, .ps_box.box_bir_yymmdd input,
.ps_box.int_email.box_right_space, .ps_box.int_email.box_right_space input,
.ps_box.int_mobile, .ps_box.int_mobile input,
.ps_box.int_address, .ps_box.int_address input,
.ps_box, .ps_box input, .ps_box_disable input
{
    background: #ffff;
    outline: 0;
}

.sel {
    width: 100%;
    height: 29px;
    padding: 7px 8px 6px 7px\9;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    border: none;
    border-radius: 0;
    *height: auto;
    -webkit-appearance: none;
}

:root .sel {
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
}


.gender_nationality .gender_code, .join_mobile .country_code, .join_sex .gender_code {
    display: block;
    width: 100%;
    padding-right: 7px;
    box-sizing: border-box;
}

.ps_box.int_pass, .ps_box.int_pass_check, .ps_box.int_pass_check2 {
    padding-right: 40px;
}


.box_right_space {
    padding-right: 14px;
    box-sizing: border-box;
    margin-top: 10px;
}


.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
    box-sizing: border-box;
    z-index: 10;
}

.btn_primary {
    color: #fff;
    border: solid 1px rgba(0,0,0,.08);
    background-color: #000080;
}

.bir_mm+.bir_dd, .bir_yy+.bir_mm {
    padding-left: 30px;
}
.bir_dd, .bir_mm, .bir_yy {
    display: table-cell;
    table-layout: fixed;
    width: 147px;
    vertical-align: middle;
    *display: block;
    *float: left;
}

.join_birthday .ps_box {
    padding: 11px 14px;
}

.join_mobile .int_mobile_area .btn_verify {
    position: absolute;
	top: 0;
    right: 0;
    width: 115px;
    height: 51px;
    padding: 15px 0 16px;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}


.join_mobile .int_mobile {
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 14px;
    vertical-align: top;
    *position: relative;
    *width: auto;
    *top: -3px;
}

.int_mobile_area+.ps_box, .int_mobile_area+.ps_box_disable, .ps_box_disable+.ps_box {
    margin-top: 10px;
}

.join_mobile .int_mobile_area {
    position: relative;
    margin-top: 10px;
    padding: 0 125px 0 0;
}


.btn_verify {
    display: block;
    font-size: 15px;
    cursor: pointer;
}
 
.btn_type {
    display: block;
    width: 100%;
    padding: 15px 0 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

/* 체크박스 */
.list li {
	list-style: none;
    float: left;
    margin-right: 10px;
    _margin-right: 7px;
    padding: 10px 10px 10px;
}

.incorrect {
	color : red;
}
.correct{
    color : green;
}

.ftco-navbar-light .navbar-brand {
    color: #9900e6;
}

.navbar-brand {
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 40.5px;
    font-family: -apple-system,BlinkMacSystemFont,helvetica,"Apple SD Gothic Neo",sans-serif;
}

a{
	text-decoration: none;
} 


         
    
    
    
    